svg {
    margin: 0 auto;
    display: block;
}

path {
    stroke: #ccc;
    stroke-width: 0.25px;
}

h1, h2, p {
    text-align: center;
}

.keycontainer {
    text-align: center;
}

.key {
    width: 50px;
    height: 50px;
    border: gray;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}

#zero {
    background-color: white;
}

#hundred {
    background-color: #C5A1C1;
}

#thousand {
    background-color: #B78AB1;
}

#tenThousand {
    background-color: #A56D9D;
}

#hundredThousand {
    background-color: #8E4984;
}

#greater {
    background-color: #721b65;
}